# Fichiers binaires
*.exe
*.dll
*.so
*.dylib
*.pyc

# Build directories
bin/
obj/

# Rider files
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/workspace.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/vcs.xml
.idea/**/macros.xml
.idea/**/todo.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/git.xml
.idea/**/aws.xml
.idea/**/sonarlint/
.idea/.idea/

# Rider logs
.idea/.idea_modules/
.idea/inspectionProfiles/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Thumbs.db
