<div class="input-container">
  <div
    class="file-upload-container"
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
  >
    <div class="upload-area" (click)="fileInput.click()">
      <img src="../../../../public/upload.png" alt="Upload Icon" />
      <p>Glisser / déposer ici</p>
      <input
        class="text-input"
        type="text"
        placeholder="ou insérer votre texte ici"
        [(ngModel)]="textInput"
        (keydown.enter)="onEnter()"
        (click)="$event.stopPropagation()"
      />
      <input
        type="file"
        accept="application/pdf"
        (change)="onFileClick($event)"
        #fileInput
        style="display: none"
      />
    </div>
  </div>
  <div class="instruction-container">
    <p>Instructions personnalisées</p>
    <textarea
      class="instruction-text-area"
      name="instruction"
      placeholder="Insérer des instructions. Exemple : fait un résumé très court"
      [(ngModel)]="customInstructions"
    ></textarea>
  </div>
</div>

<div class="response-container">
  <p>Résumé :</p>
  <p>{{ responseText }}</p>
</div>

@if (responseText !== "") {
<button class="add-button" mat-button (click)="openFolderSelectDialog()">
  Sauvegarder le compte rendu
</button>
} @else {
<button
  class="add-button"
  [disabled]="true"
  mat-button
  (click)="openFolderSelectDialog()"
>
  Sauvegarder le compte rendu
</button>
}
